package 'cgminer'

config cgminer 'default'
        option more_options '--quiet'
        option pool1url 'stratum+tcp://stratum.kano.is:3333'
        option pool1user '13Q6f7DqiZkqkS6WwMtdiRBEF35eMTk59a_worker'
        option pool1pw 'PassWord'
        option pool_balance '  '
        option bitmain_nobeeper '  '
        option bitmain_notempoverctrl '  '
        option bitmain_beeper '  '
        option freq '40:350:4d81'
