package 'cgminer'

config cgminer 'default'
	option more_options '--quiet'
	option pool_balance '  '
	option bitmain_nobeeper '  '
	option bitmain_tempoverctrl '--bitmaintempoverctrl'
	option bitmain_beeper '  '
	option api_allow 'W:127.0.0.1'
	option pool1url 'stratum+tcp://stratum.kano.is:3333'
	option pool1user '13WuPz56VAYFj7DbkBtCDJv5hAtuNeBkF9_worker'
	option pool1pw 'PassWord'
	option voltage '0000'
	option freq '18:218.75:1106'


