package 'cgminer'

config cgminer 'default'
	option more_options '--quiet'
	option pool_balance '  '
	option bitmain_nobeeper '  '
	option bitmain_tempoverctrl '--bitmaintempoverctrl'
	option bitmain_beeper '  '
	option api_allow 'W:127.0.0.1'
	option pool1url 'stratum+tcp://stratum.kano.is:3333'
	option pool1user '1LDPbqpE3a32tbkX6qsuRNN4Vq3QMp3dVJ_worker'
	option pool1pw 'PassWord'
	option freq '38:100:0783'


