package 'cgminer'

config 'asic-freq' 'default'

	#option 'freq_value'	'0c82'	#325M
	#option 'chip_freq'		'325'
	#option 'timeout'		'12'
	#option 'vl'			'0780'

	#option 'freq_value'	'1906'	#319M
	#option 'chip_freq'		'318.75'
	#option 'timeout'		'12'
	#option 'vl'			'0780'

	#option 'freq_value'	'0c02'	#312M
	#option 'chip_freq'		'312.5'
	#option 'timeout'		'13'
	#option 'vl'			'0775'

	#option 'freq_value'	'1806'	#306M
	#option 'chip_freq'		'306.25'
	#option 'timeout'		'13'
	#option 'vl'			'0770'
	
	#option 'freq_value'	'0b82'	#300M
	#option 'chip_freq'		'300'
	#option 'timeout'		'13'
	#option 'vl'			'0770'

	#option 'freq_value'	'1706'	#294M
	#option 'chip_freq'		'293.75'
	#option 'timeout'		'13'
	#option 'vl'			'0770'

	#option 'freq_value'	'0b02'	#287M
	#option 'chip_freq'		'287.5'
	#option 'timeout'		'14'
	#option 'vl'			'0765'

	#option 'freq_value'	'1606'	#281M
	#option 'chip_freq'		'281.25'
	#option 'timeout'		'14'
	#option 'vl'			'0765'

	#option 'freq_value'	'0a82'	#275M
	#option 'chip_freq'		'275'
	#option 'timeout'		'14'
	#option 'vl'			'0760'

	#option 'freq_value'	'1506'	#269M
	#option 'chip_freq'		'268.75'
	#option 'timeout'		'14'
	#option 'vl'			'0760'

	#option 'freq_value'	'0a02'	#262M
	#option 'chip_freq'		'262.5'
	#option 'timeout'		'15'
	#option 'vl'			'0755'

	#option 'freq_value'	'1406'	#256M
	#option 'chip_freq'		'256'
	#option 'timeout'		'15'
	#option 'vl'			'0755'

	#option 'freq_value'	'0982'	#250M
	#option 'chip_freq'		'250'
	#option 'timeout'		'15'
	#option 'vl'			'0750'

	#option 'freq_value'	'1306'	#244M
	#option 'chip_freq'		'243.75'
	#option 'timeout'		'16
	#option 'vl'			'0750'

	#option 'freq_value'	'1286'	#237M
	#option 'chip_freq'		'237.5'
	#option 'timeout'		'16'
	#option 'vl'			'0745'

	#option 'freq_value'	'1206'	#231M
	#option 'chip_freq'		'231.25'
	#option 'timeout'		'17'
	#option 'vl'			'0740'

	#option 'freq_value'	'0882'	#225M
	#option 'chip_freq'		'225'
	#option 'timeout'		'17'
	#option 'vl'			'0740'

	option 'freq_value'	'1106'	#219M
	option 'chip_freq'		'218.75'
	option 'timeout'		'18'
	option 'vl'				'0735'

	#option 'freq_value'	'1086'	#212M
	#option 'chip_freq'		'212.5'
	#option 'timeout'		'18'
	#option 'vl'			'0730'

	#option 'freq_value'	'1006'	#206M
	#option 'chip_freq'		'206.25'
	#option 'timeout'		'18'
	#option 'vl'			'0725'

	#option 'freq_value'	'0782'	#200M
	#option 'chip_freq'		'200'
	#option 'timeout'		'19'
	#option 'vl'			'0720'

	#option 'freq_value'	'1f07'	#197M
	#option 'chip_freq'		'196.88'
	#option 'timeout'		'19'
	#option 'vl'			'0720'

	#option 'freq_value'	'0f03'	#193M
	#option 'chip_freq'		'193'
	#option 'timeout'		'20'
	#option 'vl'			'0715'

	#option 'freq_value'	'0d83'	#181M
	#option 'chip_freq'		'181.25'
	#option 'timeout'		'21'
	#option 'vl'			'0715'

	#option 'freq_value'	'0d83'	#175M
	#option 'chip_freq'		'175'
	#option 'timeout'		'22'
	#option 'vl'			'0710'

	#option 'freq_value'	'0c83'	#162M
	#option 'chip_freq'		'162.5'
	#option 'timeout'		'24'
	#option 'vl'			'0705'

	#option 'freq_value'	'0c83'	#156M
	#option 'chip_freq'		'156.25'
	#option 'timeout'		'25'
	#option 'vl'			'0705'

	#option 'freq_value'	'0b83'	#150M
	#option 'chip_freq'		'150'
	#option 'timeout'		'26'
	#option 'vl'			'0700'

	#option 'freq_value'	'1687'	#144M
	#option 'chip_freq'		'143.75'
	#option 'timeout'		'27'
	#option 'vl'			'0700'

	#option 'freq_value'	'0a83'	#137M
	#option 'chip_freq'		'137.5'
	#option 'timeout'		'28'
	#option 'vl'			'0695'

	#option 'freq_value'	'0a03'	#131M
	#option 'chip_freq'		'131.25'
	#option 'timeout'		'30'
	#option 'vl'			'0695'

	#option 'freq_value'	'0983'	#125M
	#option 'chip_freq'		'125'
	#option 'timeout'		'31'
	#option 'vl'			'0690'

	#option 'freq_value'	'0903'	#119M
	#option 'chip_freq'		'118.75'
	#option 'timeout'		'33'
	#option 'vl'			'0685'

	#option 'freq_value'	'0883'	#112M
	#option 'chip_freq'		'112.5'
	#option 'timeout'		'35'
	#option 'vl'			'0685'

	#option 'freq_value'	'0803'	#106M
	#option 'chip_freq'		'106.25'
	#option 'timeout'		'37'
	#option 'vl'			'0680'

	#option 'freq_value'	'4f83'	#100M
	#option 'chip_freq'		'100'
	#option 'timeout'		'38'
	#option 'vl'			'0680'


